.button-sell {
    -fx-background-color: linear-gradient(#7B68EE, #9370DB);
    -fx-background-radius: 15;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.balance-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: gold;
}
