.button-sell {
    -fx-background-color: linear-gradient(#7B68EE, #9370DB);
    -fx-background-radius: 15;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.button-sell:hover {
    -fx-background-color: linear-gradient(#c74294, #eb4ba3);
}

.button-sell_clicked {
    -fx-background-color: linear-gradient(#c74294, #eb4ba3);
}

.balance-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #7B68EE;
    -fx-background-color: white;
    -fx-background-radius: 50px;
    -fx-padding: 0px 10px;
}

.vertical-progress-bar {
    -fx-rotate: -90;
    -fx-accent: #ff7e33;
}
